<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-white">
    <div class="mainContainer flex flex-col">
        <%- include("../partials/navbar.ejs") %>
            <div class="flex">
                <%- include("../partials/sidebar.ejs") %>
                    <div class="flex flex-col ml-72 p-6 w-full gap-10">
                        <!-- start program -->
                        <!-- start title -->
                        <div class="flex flex-col">
                            <h1 class="text-3xl text-left titleSidebar font-base text-darkBlue font-semibold">
                                Hai Admin</h1>
                            <div class="flex flex-row items-center gap-1">
                                <p class="text-sm font-medium font-base text-secBlue">[informasi tambahan]</p>
                            </div>
                        </div>
                        <!-- end title -->
                        <!-- start input data -->
                        <form action="/users/student/add" method="post">
                            <div class="flex flex-col gap-6">
                                <div class="flex flex-col gap-8">

                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Cari data mahasiswa terlebih dahulu
                                        </h1>
                                        <div class="flex flex-col flex-auto">
                                            <!-- start fitur search -->
                                            <div class="flex relative">
                                                <div class="w-10 h-10 flex justify-center items-center bg-darkBlue">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 24 24" fill="none" stroke="#f3f3f3"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="lucide lucide-search-icon lucide-search">
                                                        <circle cx="11" cy="11" r="8" />
                                                        <path d="m21 21-4.3-4.3" />
                                                    </svg>
                                                </div>
                                                <input
                                                    class="border text-sm font-base text-darkBlue bg-transparent outline-none h-10 w-full px-4 border-grey focus:border-darkBlue"
                                                    type="text" name="searchInput" id="searchInput"
                                                    placeholder="Cari data judul, nama atau NIM" autofocus
                                                    autocomplete="off">
                                                <!-- start dropdown -->
                                                <div id="dropdownData" 
                                                    class="absolute hidden left-0 top-10 z-10 mt-2 bg-white border border-grey">
                                                </div>
                                                <!-- end dropdown -->
                                            </div>
                                            <!-- end fitur search -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end input data -->
                        <!-- end program -->
                    </div>
            </div>
    </div>
    <script src="/js/searchUserThesis.js"></script>
</body>

</html>